
## <summary>policy for arora</summary>


########################################
## <summary>
##	Transition to arora.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`lpr_domtrans',`
	gen_require(`
		type lpr_t, lpr_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, lpr_exec_t, lpr_t)
')


########################################
## <summary>
##	Execute arora server in the arora domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lpr_initrc_domtrans',`
	gen_require(`
		type lpr_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, lpr_initrc_exec_t)
')


########################################
## <summary>
##	Search arora lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lpr_search_lib',`
	gen_require(`
		type lpr_var_lib_t;
	')

	allow $1 lpr_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read arora lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lpr_read_lib_files',`
	gen_require(`
		type lpr_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, lpr_var_lib_t, lpr_var_lib_t)
')

########################################
## <summary>
##	Manage arora lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lpr_manage_lib_files',`
	gen_require(`
		type lpr_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, lpr_var_lib_t, lpr_var_lib_t)
')

########################################
## <summary>
##	Manage arora lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lpr_manage_lib_dirs',`
	gen_require(`
		type lpr_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, lpr_var_lib_t, lpr_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a arora environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`lpr_admin',`
	gen_require(`
		type lpr_t;
		type lpr_initrc_exec_t;
		type lpr_var_lib_t;
	')

	allow $1 lpr_t:process { ptrace signal_perms };
	ps_process_pattern($1, lpr_t)

	lpr_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 lpr_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, lpr_var_lib_t)

')

